@font-face {
  font-family: 'Lazer84';
  src: url('Lazer84.ttf') format('truetype');
}

@font-face {
  font-family: 'ArcadeClassic';
  src: url('assets/ARCADECLASSIC.TTF') format('truetype');
}

.links{
  font-family: 'Lazer84';
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('assets/BG1.png');
}

img {
  width: 80%;
}

canvas {
  background-image: url('assets/bg.jpg');
  background-size: cover;
  margin: 10px;
  outline: 3px solid #42c4ff;
}

h1 {
  font-family: 'Lazer84';
  font-size: 72px;
  margin-bottom: 20px;
}

button {
  font-family: 'Lazer84';
  font-size: 30px;
  margin: 10px 0 10px 0;
}
